<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}To-Do App{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <header>
        <h1 class="logo">To-Do<br>Master</h1>
        <nav>
            <a href="{{url_for('task_bp.view_task')}}">Home</a>
            {% if 'user' in session %}
                <a href="{{url_for('auth_bp.logout')}}">Logout</a>
            {% else %}
                <a href="{{url_for('auth_bp.login')}}">Login</a>
            {% endif %}
            <a href="{{ url_for('auth_bp.register')}}">Register</a>
        </nav>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="msg-{{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; {{2025}} My Flask To-Do App</p>
    </footer>
  </body>
</html>
