{% extends 'base.html' %} {% block title %}Tasks{% endblock %} {% block content
%}
<div class="task-box">
  <h2>Your Tasks</h2>
  <form
    action="{{ url_for('task_bp.add_task') }}"
    method="post"
    class="task-form"
  >
    <input type="text" name="title" placeholder="New Task" required />
    <input type="submit" value="Add" class="btn" />
  </form>
</div>

{% if tasks %}
<form method="post" action="{{ url_for('task_bp.clear_tasks') }}">
  <input type="submit" value="Clear all tasks" class="btn btn-clear" />
</form>
<br />

<table class="task-table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Status</th>
      <th>Change</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ task.title }}</td>
      <td>
        <span class="badge {{ task.status|lower }}">{{task.status}}</span>
      </td>
      <td>
        <form
          action="{{url_for('task_bp.toggle_status', task_id = task.id)}}"
          method="post"
        >
          <input type="submit" value="Next" class="btn-small" />
        </form>
      </td>
      <td>
        <a
          href="{{ url_for('task_bp.delete_task', task_id=task.id) }}"
          class="btn-delete"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Task Yet. Add one Above!</p>
{% endif %} {% endblock %}
