<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Flask-WTF{% endblock %} </title>
    <style>
        .success{
            color: green;
        }
        .danger{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Flask-WTF Registeration!!</h1>
    <nav>
        <a href="/">Register</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
               <div class="{{category}}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
    
</body>
</html>